
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
html,
  body{
    width:100%;
    overflow-x:hidden;
    margin: 0;
    
  }
  body img{
      max-width: 100%;
  }
.header{
    background-image: url(Bg.png);
    
  background-size: cover;


  
  padding-bottom: 10%;
  
  
}

.logo{
    display: flex;
    justify-content:space-evenly;
    background-image: url(bgSHADOW.png);
    position: fixed;
    top: 0;
    width: 100%;
  
}
.navbar i{
    color: #CC9900;
}
.navbar button{
    border: none;
    color: #f0f0f0;
    background: transparent;
  
    
}
.navbar li{
    list-style: none;
    display: inline;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f0f0;
    
}

.heading h1{
    font-family: Roboto, arial, sans-serif ;
    font-size: 4em;
    text-align: center;
    overflow-wrap: break-word;
    margin-top: 10rem;
    
}
.headingg{
    width: 50%;
}
.heading img{
    color: #f0f0f0;
}
.fbuttons{
display: flex;
  justify-content: center;
  margin-top: 1%;
   
}
.headbuttons{
    display: flex;
    justify-content: center;
}
.headbuttons button{
    border: 1px solid rgba(0, 0, 0, 0.4);

   
    width: 10rem;
    height:3rem;
    
}
.buttton button{
    border: 1px solid black;
    color: #f0f0f0;
    background: rgba(15, 15, 15,0.5);
    margin-right: 3rem;
}
.buttonn button{
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    background: rgba(255, 255,255,0.3);
}
.food{
    background-image: url(pattern.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food h1{
    font-size: 250%;
   text-align: center;
   color: #CC9900;
}
.food p{
    text-align: center;
}
.bg{
background-image: linear-gradient(rgba(206, 206, 206, 0.98),rgba(206, 206, 206, 0.98));
width: 100%;
display: flex;
justify-content: center;
}
.rightfood{
    max-width: 30rem;
    text-align: center;
}
.rightfood h1{
    width: 100%;
}
.bg img{
    
    max-width: 100%;
    
}


.fine{
    background-image: url(bg5.png);
    background-size: cover;
        display: flex;
        justify-content: end;
        padding: 4em 5em;
}
.box{
   background: rgba(0, 0, 0, 0.4);
   width: 35%;

   text-align: center;
   padding: 5% 0;
   
}
.box h1{
    color: #f0f0f0;
}
.box p{
color: #f0f0f0;
font-size: 1.2em;
}
.boximg img{
    width: 5em;
    height: 5em;
    border-radius: 100%;
}
.menulast{
    background-image: linear-gradient(rgba(206, 206, 206, 0.98),rgba(206, 206, 206, 0.98));
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-size: cover;

   
    
}
.menu{
    color:#CC9900;
    margin: 2rem;
   
}
.menu9{
    background-image: url(pattern.png);
    width: 100%;
   

}
.menu1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CC9900;
    
}
.menu2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CC9900;
}
.menu3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CC9900;
}
.headingg{
    text-align: center;
    width: 100%;
    
}
.menu h3{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.menu p{
 
    font-size: 90%; 
}
.menu h1{
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.reviews{
    background-image: url(bg2.png);
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    
}
.innerreview{
    background: rgba(0, 0, 0, 0.4);
  height: auto;
  width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
   padding: 4rem 2rem;
   margin: 10% 35%;
   
}
.reviews h1{
    color: #f0f0f0;
}
.reviews p{
    color: #f0f0f0;
    font-size: large;
}
.bookfood{
  display: flex;
    gap: 1em;

}
.book{
 background-image: url(pattern.png);
    height: 100%;
    width: auto;
    align-items: center;
    display: flex;
    
    justify-content: space-evenly;
    text-align: center;
}
.bookkk{
    background-image: linear-gradient(rgba(206, 206, 206, 0.98),rgba(206, 206, 206, 0.98));
    width: 100%;
   display: flex;
    justify-content: space-around;
    background-size: cover;
    padding: 5em;
}
.book h1{
    color: #CC9900;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: start;
    
   
}
.nameee{
    display: flex;
    flex-direction: row;
}
.parag{
   
   text-align: center;
   padding: 0 6.4rem;
}
.foodim{
    display: flex;
    justify-content: space-between;
}
.butt input{
    background-color: #CC9900;
    color: #f0f0f0;
    margin: 1em;
    border: none;
}
::placeholder {
    font-style: italic;
  }
.danumber p{
    font-style: italic;
}
.overall{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.danumber{
    margin:1em;
}
.inputs label{
    color: #CC9900;
   display: flex;
   text-align: center;
}
.danumber select{
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
padding: 2em;
   
}
.footer h1{
    color: #f0f0f0;

}
.footer p{
    color: #f0f0f0;
}
.footer i{
    color: #f0f0f0;
}
.footer img{
    color:#f0f0f0;
}
.about{
    width: 30%;
    text-align: center;
}
.aboutt{
    text-align: center;
}
.open{
text-align: center;
}
.location{
    
    text-align: center;
}
.menuu{
    display: none;

}

@media screen and (max-width: 824px) {
    .header{
        background-image: url(Bg.png);
      
       background-repeat: no-repeat;
      background-size: cover;
      background-position: fixed; 
      background-attachment: fixed;
      padding-bottom: 10%;
        
    height: 100%;
    width: auto;
    text-align: center;
    }
    .food{
     
        background-image: url(pattern.png);
        background-size: cover;
       
       
    }
    .bg{
     
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .fine{
        background-image: url(bg5.png);
        
            display: flex;
            justify-content: center;
            padding: 1em;
    }
    .box{
        background: rgba(0, 0, 0, 0.4);
        width: 60%;
     
        text-align: center;
        padding: 5% 0;
        
     }
.book{
    background-image: url(pattern.png);
    height: 100%;
    width: auto;
    
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
}
.bookkk{
    display: flex;
    flex-direction: column;
align-items: center;
    align-items: center;
}
.bookfood{
    display: inline;
}
.innerreview{
    background: rgba(0, 0, 0, 0.4);
  height: auto;
  width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   text-align: center;
   padding: 4rem 2rem;
   margin: 10% 20%;
   
}

.menulast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(206, 206, 206, 0.98),rgba(206, 206, 206, 0.98));
 
    color: #CC9900;
    
   
}
.overall
    {
        padding: 1em;
        
        align-items: center;
        width: auto;   
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .about{
        width: 100%;
    }
    .navbar li{
        list-style: none;
        display: list-item;
       
      
    }
   .navba{
    display: none;
    }
    .menuu{
        float: right;
        display: block;
    
    }
  }